.btn {
  background-color: var(--primary-orange);
  border: none;
  padding: 1rem 8rem;
  color: var(--primary-light);
  font-weight: 500;
  font-size: 2.8rem;
  margin-top: 5rem;
  transition: background 0.3s ease;
  cursor: pointer;
  margin-bottom: 3rem;
  border-radius: 0.8rem;
}

.btn:hover {
  background-color: var(--hover-color);
}
