.header {
  background-color: var(--primary-dark);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.name {
  font-family: 'ZCOOL KuaiLe';
  color: var(--primary-orange);
  font-size: 6.4rem;
}
.icon {
  color: var(--primary-orange);
  font-size: 5rem;
}
.button {
  background: transparent;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.button:hover {
  transform: scale(1.2);
}
