:root {
  --primary-dark: #1a1a1a;
  --secondary-dark: #2d2d2d;
  --primary-orange: #ff9900;
  --text-color-gray: #454545;
  --text-color-gray-lighter: #808080;
  --primary-light: #fff;
  --warning: #ff3d00;
  --light-green: #00ff0a;
  --hover-color: #c25212;
}
