.dashboard {
  position: relative;
  min-height: 100vh;
}
.main {
  position: relative;
  padding: 1rem;
  width: 70%;
  margin: 2rem auto;
  min-height: 80vh;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.containerNewTodo {
  position: fixed;
  bottom: 1rem;
  right: 8%;
  z-index: 10;
}
.btn {
  width: 10rem;
  height: 10rem;
  border-radius: 10rem;
  border: none;
  background-color: var(--primary-light);
  position: relative;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.btn:hover {
  transform: scale(1.2);
}
.btn::after {
  width: 9rem;
  height: 2px;
  top: 50%;
  transform: translate(-50%, -50%);
}
.btn::before {
  width: 2px;
  height: 9rem;
  top: 5px;
}

.btn::after,
.btn::before {
  content: '';
  position: absolute;
  left: 50%;
  background-color: var(--primary-orange);
}
.label {
  width: 40%;
}
.labelSelect {
  width: 20%;
}
.field {
  border-radius: 0.8rem;
  background-color: var(--primary-light);
  border: none;
  padding: 0.5rem 1rem;
  color: var(--primary-dark);
  width: 100%;
  height: 5rem;
  font-size: 2.4rem;
}
.select {
  text-align: center;
}
