.list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 2rem;
  background-color: var(--secondary-dark);
  color: var(--primary-light);
  margin-top: 3.6rem;
  font-size: 2.4rem;
  font-family: 'Roboto';
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  border-radius: 0.8rem;
}
.list:first-child {
  margin-top: 7.7rem;
}
.list:hover {
  background-color: var(--primary-orange);
}
.listDate {
  font-style: italic;
}
.name {
  font-weight: bold;
}
.count {
  justify-self: end;
}
@media only screen and (max-width: 1200px) {
  .list {
    font-size: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .name {
    font-size: 2rem;
  }
  .listDate {
    justify-self: end;
    font-size: 1.8rem;
  }
  .count {
    justify-self: start;
    font-size: 1.5rem;
  }
}
