.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--secondary-dark);
  padding: 3rem;
  min-width: 34%;
  max-width: 70%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.8rem;
}

.formText {
  font-size: 6.4rem;
  color: var(--primary-orange);
  text-align: center;
  margin-top: 2rem;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon {
  color: var(--primary-light);
}
.action {
  text-align: center;
  margin-top: 3rem;
}

.link {
  display: block;
  text-decoration: none;
  color: var(--primary-orange);
  margin-top: 3rem;
  font-size: 4.8rem;
  margin-bottom: 4rem;
}
.text {
  color: var(--primary-light);
  font-size: 2.4rem;
}

.error,
.success {
  color: var(--warning);
  font-size: 1.5rem;
  margin-top: 1rem;
}
.success {
  color: var(--light-green);
}

@media only screen and (max-width: 1200px) {
  .container {
    min-width: 90%;
  }
}
